<!DOCTYPE html>
<html lang="en" ng-app="calcApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alcohol blood level calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .stupid-2px-hack {
      position: relative;
      top: -2px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div ng-controller="mainController">
      <div class="jumbotron">
      <h1>Blood alcohol level calculator.</h1>
      <p>Disclaimer: this is a toy. Don't rely on this calculator when making decisions of any importance. Such as, whether to get behind the wheel or not.</p>
      </div>
      <div class="well">
      <div class="form-inline">
        <div class="form-group">
          <label for="">Gender:</label>
          <label class="form-control">
            <input type="radio" name="gender" value="male" checked="checked" ng-model="gender">
            Male
          </label>
          <label class="form-control">
            <input type="radio" name="gender" value="female" ng-model="gender">
            Female
          </label>          
        </div>
        <div class="form-group">
          <label for="body-mass">Your weight (kg):</label>
          <input id="body-mass" class="form-control" type="range" ng-model="bodyMass" min="10" max="200">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ng-model="bodyMass" aria-label="your weight">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary form-control" ng-click="addDrink()">Add a drink</button>          
        </div>     
      </div>
      </div>
      <div ng-repeat="drink in drinkRecord" one-drink class="list-group-item"></div>
      <div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
            <div class="btn btn-block" ng-class="{'btn-info': (bac <= 0.2), 'btn-warning': (0.2 < bac) && (bac < 0.5), 'btn-danger': (0.5 <= bac) }" >
              <p class="h3">Your blood alcohol count (&permil;):</p>
              <p class="h3">{{ (bac = BAC(bodyMass, gender, ethanol)).toFixed(1) }}</p>
            </div>
          </div>
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0" >
            <div class="btn btn-block" ng-class="{'btn-info': (bac <= 0.2), 'btn-warning': (0.2 < bac) && (bac < 0.5), 'btn-danger': (0.5 <= bac) }">
              <p class="h3">You should be sober again in, approximately:</p>
              <p class="h3">{{ (time = calculateTime(bac)).toFixed(0) }} hours</p>
            </div>
          </div>
        </div>
        <p class="well">The mass of pure ethanol you've drunk: {{ ethanol = (drinksSum()).toFixed(0) }} g.</p>        
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>